.calcular{
    padding: 64px 246px;
    background:  var(--cor-de-fundo);  
     
}

.input-calc{
    border-radius: 23px;
    background-color: var(--cor-de-fundo-inp);
    padding-left: 15px;
}

.conteiner{
    display: inline-block;
}


.din{
    background: url(../img/real.svg) 0.5% 50% no-repeat var(--cor-de-fundo-inp);
    padding-left: 40px;
}

.por{
    background: url(../img/porcetagem.svg) 95.5% 50% no-repeat var(--cor-de-fundo-inp);
    
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select{
    padding: 3px 29px 0 5px;
    margin: 0 3px;
    font-weight: bold;
    background-color: var(--cor-branco);
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    background: #e9e9e9 url('../img/seta2.svg') 95.5% 50% no-repeat;
}

option{
    font-weight: bold;
}

.bnt{
    font-size: 32px;
    border-radius: 23px;
    padding: 3px 100px;
    margin:   20px 60px 20px 0px ;
    font-weight: 700;
    cursor: pointer;
}

.bnt-cal{
    color: var(--cor-branco);
    background-color: var(--cor-preto);
}

.bnt-lim{
    background-color: var(--cor-branco);
}

.explicacao{
    padding: 64px 246px ;
    text-align: center;
}



